# Frontend environment variables
#
# To protect the application with a simple password gate, set the
# following variable before running the dev server or building:
#
#   VITE_APP_PASSWORD=yourSecretPassword
#
# If this variable is not set, the default password is "pm-nexus".
#
# Example:
#   export VITE_APP_PASSWORD=myStrongPass && npm run dev
#
